<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="./login.css"/>
</head>
<body>
    
 <div class="pg">
    <div class="wrapper">
        <form action="/registration" id="Register" method="post">
            <h1>Register with Us</h1>
            <div class="input-box">
                <input type="text" name="name" placeholder="enter a user name" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="password" name="password" placeholder="set a password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
           
            <button type="submit" class="btn">Register</button>
               
            </div>
           </form>
          </div>
     </div>
    
</body>
</html>












